<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hk.hku.cs.fyp_connectfourbot">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fyp_connectfourbot">
        <activity android:name=".DrawingActivity"
            android:label="Building Mode"
            >
        </activity>

        <activity
            android:name=".BuildingActivity"
            android:label="Building Mode"
            >
        </activity>

        <activity
            android:name=".ControllerActivity"
            android:label="Arm Controller"
            >
        </activity>

        <activity
            android:name=".ManualActivity"
            android:label="Manual Mode Activity"
            >
        </activity>

        <activity
            android:name=".AutoActivity"
            android:label="Auto Mode Activity"
            >
        </activity>

        <activity
            android:name="com.makerlab.ui.BluetoothDevListActivity"
            android:label="Scanning Bluetooth Devices"
            >
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Fyp_connectfourbot.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>